<h1>GO!</h1>
<h2>Put in your name!</h2>
<form action="/result" method="post">
    <label for="player_1_name"> </label> <br>
    Player 1
 <input type="text" name="player_1_name">
    <label for="player_1_choice"> </label> <br>
    <input type="radio" name="choice1.1">
    <label for="Rock">Rock</label> <br>
    <input type="radio" name="choice2.1">
    <label for="Paper">Paper</label> <br>
    <input type="radio" name="choice3.1">
    <label for="Scissors">Scissors</label> <br>
    <label for="player_2_name"> </label> <br>
      Player 2
 <input type="text" name="player_2_name">
    <label for="player_2_choice"> </label> <br>
    <input type="radio" name="choice1.2">
    <label for="Rock">Rock</label> <br>
    <input type="radio" name="choice2.2">
    <label for="Paper">Paper</label> <br>
    <input type="radio" name="choice3.2">
    <label for="Scissors">Scissors</label> <br>
    <input type="submit" value="Submit">
</form>
